{% extends 'base.html' %}

{% block content %}


<div class="item-info-container">
{% for photo in item.photo_set.all %}   
<img class = "detail-image" src="{{photo.url}}" max-width = "200px">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<div class="item-detail-container"> 
<p class = "item-name"> {{item.name}}</p>
<p class = "item-price"> Price: $ {{item.price}}</p>
<p class = "item-user"> Seller: {{item.user}}</p>
</div>
</div>
{% if request.user == item.user %}
<div class="card-action">
    <a class = "edit-btn" href="{% url 'item_update' item.id %}">Edit</a>
    <a  class = "delete-btn" href="{% url 'item_delete' item.id %}">Delete</a>
  </div>
{% endif %}
  <h2> Description: </h2>
  <p> {{item.description}}</p>


<br>
<br>
  {% if item.photo_set.all %}

{% else %}
<h5> It seems like there's no photo 😢 Add one now! </h5>
<form
  action="{% url 'add_photo' item.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="photo-file" />
  <br /><br />
  <input type="submit" class="btn" value="Upload Photo" />
</form>

{% endif %}



<h4 class ='comment-header'> Comments:</h4> 
<div class = 'comment-container'>
  {% if item.comment_set.all %}
{% for comment in item.comment_set.all %}  
<div class="comment-card" >
    <div class="comment-content">
        <h6 class = "comment-user"> {{comment.user}}</h6>
        <p class ="comment-text"> {{comment.text}}</p> 

    </div> 
</div>
{% endfor %}
{% else %}
<p> No comments yet... be the first one!</p>
{% endif %}
</div>

<form action="{% url 'add_comment' item.id %}" method="POST">
{% csrf_token %}
{{comment_form.as_p}}
<input type="submit" class="btn" value="Add comment">
</form>
{% endblock %}