{% extends 'base.html' %}


{% block content  %}


<h2 class ='index-heading'> Shop for the perfect things you didn't know you needed</h2>
<div class = "item-container">
{% for item in items %}
    <div class = "card">
        <a href="{% url 'item_detail' item.id %}">
            <div class="card-content">
                <div class ="parent-image">
                    {% for photo in item.photo_set.all %}  
                    <img  class = "item_image" 
                    src="{{photo.url}}" 
                    max-width = "250px" 
                    height = "250px"
                    >
                    {% empty %}
                    <div class="card-panel center-align">No Photos Uploaded</div>
                    {% endfor %}
                </div> 
                <span class="index-item-name">{{item.name}}</span>
                 <br> 
                <span class = "index-item-price">${{item.price}}</span>

            </div>
</a>
    </div>


{% endfor %}
</div>
{% endblock %}