{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@700&family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>MarketShop | It's your market</title>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left-brand-logo">  MarketShop</a>
            </li>
          </ul>
          <ul class="navlinks">
        
            <li><a class ="navbar-links" href="{% url 'index' %}">Browse</a></li>
            {% if user.is_authenticated %}
            <li><a class ="navbar-links" href="{% url 'listing' %}">View My Listings</a></li>
            <li><a class ="navbar-links" href="{% url 'items_create' %}"> List an Item</a></li>
            <li><a class ="navbar-links" href="{% url 'logout' %}"> Logout</a></li>
            <span> Hi there, {{user.get_username}} </span>
            {% else %}
            <li> <a class ="navbar-links" href="{% url 'login' %}"> Log In</a></li>
            <li> <a class ="navbar-links"  href="{% url 'signup' %}"> Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <!-- <footer class="footer-container">
        Created by Jacky Cheng   
        <br>
        <div class="socials">
        <a href="https://www.linkedin.com/in/jackychengjc/"> LinkedIn</a> 
        <a href="https://github.com/jcheng1022"> GitHub </a>
      </div>
    </footer> -->

    <script>
        var selectEl = document.getElementById('id_category');
  M.FormSelect.init(selectEl);
    </script>
  </body>
</html>
