{% extends 'base.html' %}

{% block content %}

<h1> Welcome to MarketShop.</h1>

<p> 
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, quos voluptas libero facilis voluptate blanditiis sequi a officiis ipsam placeat autem, nulla, eaque debitis accusamus eum! Iure, enim accusantium. Numquam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit tempore eius magni necessitatibus repellat temporibus voluptate quo. Inventore dolorum facere minima maiores tempora harum non voluptatem deleniti expedita blanditiis.

</p>


{% endblock %}