.nav-wrapper{
    background-color:black;
    display:flex;
    justify-content: space-between;
}

.navlinks {
    padding:0;
    margin-right: 30px;
}
.nav-wrapper a {
    color:white;
    text-decoration:none;

}
.nav-wrapper a:hover {
    cursor: pointer;

}

.left.brand-logo {
    color:white;
}

.ul .right{
    color:white;
}


.page-footer {
    position:absolute;
    bottom:0;
    
}

.item-container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}


.card {
    width: 300px;
    margin: 5px;
}